body{
    background-image: url(back.home.jpg);
    background-size: cover;
    }

    main{
        margin-top : 15%;
    }

@media screen and (max-width:1023px){
    main{
        margin-top : 25%;
    }
}

@media screen and (max-width:720px){
    main{
        margin-top : 45%;
    }
}